body {
  margin: 0;
  background-color: #fcf7e6;
  font-family: 'Space Grotesk', 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Space Grotesk', 'Roboto', sans-serif;
}

p, span {
  font-family: 'Space Grotesk', 'Roboto', sans-serif;
}